body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #111;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 5px;
    font-size: 32px;
}

header p {
    font-size: 14px;
    color: #444;
}

section {
    margin-bottom: 25px;
}

h2 {
    font-size: 18px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-header h3 {
    margin: 0;
    font-size: 16px;
}

.job-header span {
    font-size: 14px;
    color: #555;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}

.skills li {
    margin-bottom: 5px;
}

.tech {
    font-size: 13px;
    color: #555;
    margin: 5px 0;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

a:hover {
    color: #555;
}

@media (max-width: 768px) {

    .container {
        margin: 15px;
        padding: 10px;
    }

    header h1 {
        font-size: 22px;
    }

    header p {
        font-size: 12px;
    }

    h2 {
        font-size: 16px;
    }

    .job-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-header span {
        margin-top: 3px;
        font-size: 12px;
    }

    ul {
        padding-left: 18px;
    }
    img {
        max-width: 100%;
        height: auto;
    }

}